.message{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(49, 49, 49);
}

.message__nameuser{
    font-weight: 500;
    margin: 0;
}
.message__time{
    font-size: 0.75rem;
    margin: 0 0 0 5px;
    color: rgb(113, 113, 113);
}


.message__contents{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}